:root {
  --light-grey-text: hsl(0, 0%, 81%);
  --body-bg-color: hsl(210, 46%, 95%);
  --moderate-violet: hsl(263, 55%, 52%);
  --dark-grey-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --bg-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-size: 0.8125rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--light-grey-text);
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'dc dc jw kw'
    'jh pa pa kw';
  width: 75%;
  gap: 1.5rem;
}

.dc {
  grid-area: dc;
}

.jw {
  grid-area: jw;
}

.kw {
  grid-area: kw;
}

.jh {
  grid-area: jh;
}

.pa {
  grid-area: pa;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-bottom: 2rem;

  border-radius: 0.5rem;
}

.bg-violet {
  background-color: var(--moderate-violet);
}

.bg-violet.bg-img {
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 75% 0%;
}

.bg-dark-grey {
  background-color: var(--dark-grey-blue);
}

.bg-white {
  background-color: var(--bg-white);
  color: black;
}

.bg-dark-blue {
  background-color: var(--dark-blackish-blue);
}

.student-details-wrapper {
  display: flex;
}

.student-name-status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.75rem;
}

.student-name {
  font-size: 1rem;
  font-weight: 600;
}

.student-image img {
  border-radius: 50%;
  width: 75%;
}

.status {
  opacity: 50%;
}

.testimonial-quote {
  opacity: 70%;
}

.testimonial-heading {
  margin: 1rem 0;
}

.light {
  color: white;
}

.dark {
  color: black;
}

@media only screen and (max-width: 1200px) and (min-width: 701px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'dc jw'
      'jh pa'
      'kw kw';
    width: 75%;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    grid-template-areas:
      'dc'
      'jw'
      'jh'
      'pa'
      'kw';
    width: 95%;
    gap: 1rem;
  }
}
